<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Topic</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <link rel="stylesheet" href="/stylesheets/user.css">
  <script type="text/javascript" src="/javascripts/common.js"></script>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include ../common/topNav %>
  <div class="home-user col-md-8 col-md-offset-2">
    <div class="user-introduction col-md-3">
      <div class="user-name h1"><%= user.name %></div>
      <div class="user-avatar">
        <img src="<%= user.avatar %>" alt="头像">
        <span id="update_avatar">修改头像</span>
          <span id="span_note">点击图片修改头像</span>
        <form method='post' id="myform" action='/updateAvatar' enctype='multipart/form-data'>
          <span id="span_update">请上传png,jpg格式的图片</span>
          <input type="file" id="inputfile" name='pic'/>
          <input type="submit" id="submit" value="确定"/>
          <input type="button" id="cancel" value="取消"/>
        </form>        
      </div><br>
      <div class="user-count"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;提了<%= user_questions_number %>个问题</div>
      <div class="user-count"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;回答了<%= user_answers_number %>个问题</div>
      <div class="user-count"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;获得<%= user_get_ups %>赞同</div>
    </div>
    <div class="user-infomation col-md-9">
      <div class="frame">
        <div class="frame-title">回答</div>
        <div class="frame-body">
        <% user_answer_to_question.forEach(function (a_to_q) { %>
          <div class="frame-answers">
            <div class="answer-ups">
              <div><%= a_to_q.answer.ups_number %><span>赞同</span></div>
            </div>
            <div class="answer-question">
              <div class="answer">
                <a href="/question/<%= a_to_q.question._id %>?answerId=<%= a_to_q.answer._id %>#answer-content-top-<%= a_to_q.answer._id %>"><%= a_to_q.question.title %></a>
              </div>
              <div class="question">
                <%= a_to_q.answer.content.length > 20 ? a_to_q.answer.content.substr(0,20) + '...' : a_to_q.answer.content %></div>
            </div>
            <div style="clear:both;"></div>
          </div>
        <% }) %> %>    
        </div>
      </div>
      <div class="frame">
        <div class="frame-title">提问</div>
        <div class="frame-body">
        <% user_questions.forEach(function (question) { %>
          <div class="frame-answers">
            <div class="answer-ups">
              <div><%= question.pv %><span>浏览</span></div>
            </div>
            <div class="answer-question">
              <div class="answer">
                <a href="/question/<%= question._id %>"><%= question.title %></a>
              </div>
              <div class="question_about">
                <span><%= question.comment_id.length %>条评论</span>
                <span>创建于<%= question.create_at_ago() %></span>
              </div>
            </div>
            <div style="clear:both;"></div>
          </div>
        <% }) %> %>    
      </div>
    </div>
  </div>
  <script>
    $('#update_avatar').hover(function () {
      $('#myform').css({
        'display': 'block',
        'margin-top': '20px'
      });
      $('#span_note').css({
        'display': 'none'
      });
    });
    $('#submit').click(function () {
      $('#myform').css({
        'display': 'none'
      });      
    });
    $('#cancel').click(function () {
      $('#myform').css({
        'display': 'none'
      });
    });
  </script>
<!--   // https://github.com/expressjs/multer/issues/193 
  // ajax multer 上传   -->
</body>
</html>
