<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Question</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="/javascripts/question.js"></script>
  <link rel="stylesheet" href="/stylesheets/question.css">
  <script type="text/javascript" src="/javascripts/common.js"></script>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include ../common/topNav %>
  <div class="question-zhihu col-md-8 col-md-offset-2">
    <div class="left-content col-md-8">
      <div class="question-content">
        <div class="tags">
          <% question.tags.forEach(function (tag) { %>
           <a href="/tag/<%= tag %>"><span class="badge tag"><%= tag %></span></a>
          <% }); %>
        </div>
        <h1 class="question_title"><%= question.title %></h1>
        <div class="question_description"><%= question.description %></div>
        <div class="question_footer">
          <a href="" class="annotation-color"><span class="glyphicon glyphicon-comment"></span> x条评论</a>
          <a href="" class="annotation-color"><span class="glyphicon glyphicon-share-alt"></span>分享</a>
          <a href="" class="annotation-color"><span class="glyphicon glyphicon-plus"></span>邀请回答</a>
          <a href="" class="annotation-color pull-right"><span class="glyphicon glyphicon-flash"></span>举报</a>
        </div> 
      </div>
      <div class="question-answer">
        <div class="question-answer-top">
          <span class="question-answer-number"><%= answers.length %>个回答</span>
          <div class="answer-sort">
            <span class="sort-by-vote">按投票排序<span class="glyphicon glyphicon-sort"></span></span>
            <a href="" class="sort-by-time">按时间排序</a>
          </div>
        </div>
        <%- include answers %>
        <%- include replyarea %>
      </div>
    </div>
    <div class="right-content col-md-3">
      <%- include rightbar %>
    </div>
  <%- include ../common/footer %>
  </div>
</body>
</html>