<div class="focus-on-question">
  <% if (isFocus) { %> 
    <button class="btn btn-info focused-on-question" data-question="<%= question._id %>" data-user="<%= user._id %>" data-isfocus="true">取消关注</button><br/>
  <% } else { %>
    <button class="btn btn-info focused-on-question" data-question="<%= question._id %>" data-user="<%= user._id %>"  data-isfocus="false">关注</button><br/>
  <% } %>
  <div class="focus-on-question-number"><span><%= question.focus_id.length %></span>人关注该问题</div>
</div>
<div class="linked-website">
 <a href="https://cnodejs.org/"><img src="/images/static/cnode_logo.png" alt=""></a> 
</div>
<div class="related-question">
  <h5>相关问题</h5>
  <ul>
    <% relatedQuestions.forEach(function (question) { %>
      <li><a href="/question/<%= question._id %>"><%= question.title %></a><span class="answer-number"><%= question.comment_id.length %>个回答</span></li>
    <% }) %>
  </ul>
</div>
<div class="question-status">
  <h5>问题状态</h5>
  <span class="annotation-color">最近活动于<%= question.update_at_isToday() %></span><br/>
  <span class="annotation-color">被浏览<%= question.pv %>次</span>
</div>
<div class="linked-website">
  <a href="http://www.zhihu.com/"><img src="/images/static/zhihu_logo.jpg" alt=""></a>
</div>
