<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <link rel="stylesheet" href="/stylesheets/topic.css">
  <script type="text/javascript" src="/javascripts/common.js"></script>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include ../common/topNav %>
  <div class="topic-zhihu col-md-5 col-md-offset-2">
    <div class="topic-top">
      <span class="glyphicon glyphicon-th-list"></span>
      <span class="h2">查询的是:<%= search %></span>
    </div>  
    <div class="topic">
      <% questions.forEach(function (question, index) { %> 
      <div class="question">
        <a href="/question/<%= question._id %>" class="question-title"><%= question.title %>
        </a>
        <span class="question-pv"><%= question.pv %>次浏览</span>
      </div> 
      <% }); %> 
    </div>  
  </div> 
</body>
</html>